<app-navigation></app-navigation>
<ngb-accordion #acc="ngbAccordion" activeIds="">
        <ngb-panel>
        <ng-template ngbPanelTitle>
                <span><i class="fa fa-caret-right"></i> <b> POI</b> <img src="{{global.lageCheckAssetPath}}/assets/img/icons/poi.svg" alt="poi"></span>
                </ng-template>
          <ng-template ngbPanelContent>
            <app-poi></app-poi>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span><i class="fa fa-caret-right"></i> <b> Noise</b> <img src="{{global.lageCheckAssetPath}}/assets/img/icons/noise.svg" alt="noise"></span>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-noise></app-noise>
          </ng-template>
        </ngb-panel>


      </ngb-accordion>
      