$primary-color: #000;
$secondary-color: #F19233;
$ternary-color: #383838;
$quarternary-color: #8C8F93;
$quinary-color: #DBDCDD;
$hexa-color: #FFFF;

$btn-active: $secondary-color;
$btn-inactive: #F3BC7B;

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Helvetica';

