ul{
    color: #404040;
}
.g-number{
    font-weight: 100;
    font-size: 1.1rem;
    color: black;

}
img {
    width: 30px;
    float: right;
}

.generalImageContainer{
    height:200px;
    margin-bottom:50px
}

.cityImage{
    height:200px;
    width:100%
}

.kantonContainer{
    left:50px;
    position:absolute;
    width:100px;
    height:100px;
    margin-top:130px
}

.kantonImage{
    width:100px;
    height:100px;
    border:1px solid
}