
<div class="component-margin">
    <h6 class="d-inline-block chart-header">{{ 'TAXES.OVERVIEW' | translate }}</h6><i class="fa fa-info-circle fa-2x pull-right" aria-hidden="true"></i>
    <hr class="hr-black">
    <app-barchart [containerId]="barchartcontainer" [data]="dataforbarchart" [xText]="xTaxData" [yText]="yTaxData"
                  [xDataFormat]="xTaxDataFormat" [yDataFormat]="yTaxDataFormat" [xAxisText]="xAxisTaxText" [yAxisText]="yAxisTaxText"></app-barchart>
    <ul class="list-group">
        <li class="list-group-item">
            <i class="fa fa-square one"></i>
            <small>{{ 'TAXES.LEGEND1' | translate }}</small>
        </li>
        <li class="list-group-item">
            <i class="fa fa-square two"></i>
            <small>{{ 'TAXES.LEGEND2' | translate }}</small>
        </li>
        <li class="list-group-item">
            <i class="fa fa-square three"></i>
            <small>{{ 'TAXES.LEGEND3' | translate }}</small>
        </li>
        <li class="list-group-item">
            <i class="fa fa-square four"></i>
            <small>{{ 'TAXES.LEGEND4' | translate }}</small>
        </li>
        <li class="list-group-item">
            <i class="fa fa-square five"></i>
            <small>{{ 'TAXES.LEGEND5' | translate }}</small>
        </li>
        <li class="list-group-item">
            <i class="fa fa-square six"></i>
            <small>{{ 'TAXES.LEGEND6' | translate }}</small>
        </li>
    </ul>
</div>