@import '~sass/variables';

ul{
    color: #404040;
}
.one{
    color: #f19b2c;
}
.two{
    color: #f0c330;
}
.three{
    color: #3a99d8;
}
.four{
    color: #239f85;
}
.five{
    color: #e54d42;
}
.six{
    color: #095682;
}
.fa-2x{
    font-size:1.5em
}
hr{
    margin-top:2px;
}
h6{
    color: $primary-color;
    font-size:large;
    margin-bottom: 0rem;
}


