@import '~sass/variables';

ul{
    color: #404040;
}
.p-number{
    font-weight: 100;
    font-size: 1.1rem;
    color: black;
}
.one{
    color: #f19b2c;
}
.two{
    color: #f0c330;
}
.three{
    color: #3a99d8;
}
.four{
    color: #239f85;
}
.five{
    color: #e54d42;
}
.six{
    color: #095682;
}
.p-label{
    font-family: Helvetica;
    font-size: 1rem;
    color: $primary-color;
    font-weight: bold;
}

.hr-black{
    margin-top: 0!important;
}

