<ul class="d-flex justify-content-between list-unstyled">
        <li>
            <h6><u>{{ 'HOUSINGMARKERT.INDEX' | translate }}</u></h6>
        </li>
    </ul>
    <app-linechart></app-linechart>
    <hr>
    <ul class="d-flex justify-content-between list-unstyled">
        <li>
            <h6>{{ 'HOUSINGMARKERT.VACANCY' | translate }}</h6>
        </li>
        <li>
            <span class="p-number">0.5%</span>
        </li>
    </ul>
    <ul class="d-flex justify-content-between list-unstyled">
        <li>
            <h6>{{ 'HOUSINGMARKERT.HOUSINGSTOCK' | translate }}</h6>
        </li>
        <li>
            <span class="p-number">98'429</span>
        </li>
    </ul>
    <ul class="d-flex justify-content-between list-unstyled">
        <li>
            <h6>{{ 'HOUSINGMARKERT.NEWHOUSING' | translate }}</h6>
        </li>
        <li>
            <span class="p-number">1759</span>
        </li>
    </ul>
    <hr>
    