@import '~sass/variables';

p {
    margin-bottom: 0;
    font-family: Helvetica;
    font-size: 1rem;
    color: #8C8F93!important;
}
.p-number{
    font-family: Helvetica;
    font-size: 1.44rem;
    color: #383838!important;
}

.p-label{
    font-family: Helvetica;
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
}

.hr-black{
    margin-top: 0!important;
}