@import '~sass/variables';

p {
    margin-bottom: 0;
    font-family: Helvetica;
    font-size: 1rem;
    color: $quarternary-color;
}
.p-number{
    font-family: Helvetica;
    font-size: 1.44rem;
    color: $quarternary-color;
}

.p-label{
    font-family: Helvetica;
    font-size: 1rem;
    color: $primary-color;
    font-weight: bold;
}

.hr-black{
    margin-top: 0!important;
}