
<h6 class="p-label d-inline-block">{{ 'HOUSINGMARKERT.INDEX' | translate }}</h6><i class="fa fa-info-circle fa-2x pull-right" aria-hidden="true"></i>
<hr class="hr-black">    
    <app-linechart [containerId]="linecontainer" [data]="dataforlinearrayMarket" [xText]="xLabel"></app-linechart>
    
<h6 class="p-label">Key figures</h6>
<hr class="hr-black">
<div class="row">
    <div class="col col-lg-6">
        <p class="text-muted">{{ 'HOUSINGMARKERT.VACANCY' | translate }}</p>
        <span class="p-number">{{housingMarketVacancy*100}} %</span>
    </div>
    <div class="col col-lg-6">
        <p class="text-muted">{{ 'HOUSINGMARKERT.HOUSINGSTOCK' | translate }}</p>
        <span class="p-number">{{housingStock | number}}</span>
    </div>
</div>
<hr>
<div class="row">
    <div class="col col-lg-6">
        <p class="text-muted">{{ 'HOUSINGMARKERT.NEWHOUSING' | translate }}</p>
        <span class="p-number">{{newHousing | number}}</span>
    </div>    
</div>
    