<ul class="d-flex justify-content-between list-unstyled">
        <li>
            <h6><u>{{ 'HOUSINGMARKERT.INDEX' | translate }}</u></h6>
        </li>
    </ul>
    <app-linechart [containerId]="linecontainer" [data]="dataforlinearrayMarket" [xText]="xLabel"></app-linechart>
    <hr>
    <ul class="d-flex justify-content-between list-unstyled">
        <li>
            <h6>{{ 'HOUSINGMARKERT.VACANCY' | translate }}</h6>
        </li>
        <li>
            <span class="p-number">{{housingMarketVacancy}}%</span>
        </li>
    </ul>
    <ul class="d-flex justify-content-between list-unstyled">
        <li>
            <h6>{{ 'HOUSINGMARKERT.HOUSINGSTOCK' | translate }}</h6>
        </li>
        <li>
            <span class="p-number">{{housingStock | number }}</span>
        </li>
    </ul>
    <ul class="d-flex justify-content-between list-unstyled">
        <li>
            <h6>{{ 'HOUSINGMARKERT.NEWHOUSING' | translate }}</h6>
        </li>
        <li>
            <span class="p-number">{{newHousing | number}}</span>
        </li>
    </ul>
    <hr>
    