<div class="jumbotron">
    <div class="row">
        <div class="col col-lg-6">
            <h1>{{ 'GENERIC.MUNICIPALITY' | translate }}</h1>
            <img [hidden]="!loading" src="{{global.lageCheckAssetPath}}/assets/img/rolling.gif" alt="loading">
            <div [hidden]="!macrofactor" class="mt-3">
                <h1 class="font-weight-light d-inline">{{municipalityname}}</h1>
                <hr>
                <!-- make the comparation to average function -->
                <p class="text-muted">{{municipalityname}} ranks high among all municipalities</p>
            </div>
        </div>
        <div class="col col-lg-6 text-center">
            <div [hidden]="!macrofactor" class="fancy-box">
                    <app-gauge-chart 
                    [data]="macrofactor"
                    [extent]="municipalitygaugeextent"
                    [containerId]="municipalitygaugecontainerId"
                    [classification]="municipalitygaugeclassification"
                    [minMax]="municipalitygaugeminMax"
                    [minThreshold]="municipalitygaugeminThreshold"
                    ></app-gauge-chart>
                    <h4>{{macrofactortext}} <i class="fa fa-check-circle fa-1x text-success" aria-hidden="true"></i></h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <div class="card bg-dark text-white">
                <a routerLink="/furthercontent/municipality">
                    <div class="card-body text-center">
                        <p class="card-title">{{ 'GENERIC.GENERAL' | translate }}</p>
                        <h6 class="card-subtitle">
                            <i class="fa fa-info fa-3x"></i>
                        </h6>
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="card bg-dark text-white">
                <a routerLink="/furthercontent/municipality">
                    <div class="card-body text-center">
                        <p class="card-title">{{ 'GENERIC.POPULATION' | translate }}</p>
                        <h6 class="card-subtitle">
                            <i class="fa fa-users fa-3x"></i>
                        </h6>
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <div class="card bg-dark text-white">
                <a routerLink="/furthercontent/municipality">
                    <div class="card-body text-center">
                        <p class="card-title">{{ 'GENERIC.TAXES' | translate }}</p>
                        <h6 class="card-subtitle">
                            <i class="fa fa-inbox fa-3x"></i>
                        </h6>
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="card bg-dark text-white">
                <a routerLink="/furthercontent/municipality">
                    <div class="card-body text-center">
                        <p class="card-title">{{ 'GENERIC.MARKET' | translate }}</p>
                        <h6 class="card-subtitle">
                            <i class="fa fa-money fa-3x"></i>
                        </h6>
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="mb-4"></div>
    <div class="row">
        <div class="col col-lg-6">
            <h1>{{ 'GENERIC.ADDRESS' | translate }}</h1>
            <div [hidden]="!macrofactor" class="mt-3">
                    <img src="{{global.lageCheckAssetPath}}/assets/img/house-small.png" alt="location"> <p class="font-weight-light d-inline">{{addressname}}</p>
                    <hr>
                    <p class="text-muted">this address ranks higher among the average.</p>
                </div>
        </div>
        <div class="col col-lg-6 text-center">
            <div [hidden]="!addressfactor" class="fancy-box">
                    <app-gauge-chart 
                    [data]="addressfactor"
                    [extent]="addressgaugeextent"
                    [containerId]="addressgaugecontainerId"
                    [classification]="addressgaugeclassification"
                    [minMax]="addressgaugeminMax"
                    [minThreshold]="addressgaugeminThreshold"
                    ></app-gauge-chart>
                    <h4 class="d-inline">{{addressfactortext}} <i class="fa fa-check-circle fa-1x text-success" aria-hidden="true"></i></h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <div class="card bg-dark text-white">
                <a routerLink="/furthercontent/address">
                    <div class="card-body text-center">
                        <p class="card-title">{{ 'GENERIC.POI' | translate }}</p>
                        <img src="{{global.lageCheckAssetPath}}/assets/img/icons/poi.svg" alt="poi">
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="card bg-dark text-white">
                <a routerLink="/furthercontent/address">
                    <div class="card-body text-center">
                        <p class="card-title">{{ 'GENERIC.NOISE' | translate }}</p>
                        <img src="{{global.lageCheckAssetPath}}/assets/img/icons/noise.svg" alt="noise">
                        <p class="card-text"></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>