@import '~sass/variables';

.jumbotron {
    padding-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
    a {
        color: $ternary-color;
        text-decoration: none;
        &:hover {
            box-shadow: -1px 2px 10px 0px rgba($secondary-color, 0.4);
            text-shadow: 1px 1px rgba($secondary-color, 0.8);
        }
    }
    img{
        max-height: 70px;
        margin-bottom: 1rem;
    }
    .nomaxheight{
        max-height: none;
        margin: 0;
        width: 2rem;
        float: left;
    }
    .title-rating{
        font-size: 1rem;
        margin-bottom: 1rem;
    }  
    .flags{
        width: 2.2rem;
        border: 1px solid $quarternary-color;
    }

    .teaser-header-row{
        border-bottom:2px solid #8C8F93;
        margin-bottom:2em;
    }

    .teaser-header-text{
        color: #383838;
        font-size:large;
    }

    .card {
        border:2px solid $primary-color;
        margin-bottom: 2em;
    }

    .card-subtitle{
        margin-top: 0;
    }

    .card-text{
        color: $primary-color;
        font-weight: bold
    }
}

a.disabled {
    pointer-events: none;
    cursor: default;
 }


