<div class="jumbotron">
    <div class="row">
        <div class="col col-lg-6">
            <h1>{{ 'GENERIC.MUNICIPALITY' | translate }}</h1>
            <img [hidden]="!loading" src="{{global.lageCheckAssetPath}}/assets/img/rolling.gif" alt="loading">
            <div [hidden]="!macrofactor" class="mt-3">
                <img *ngIf="muncipalityId" class="flags" src="{{global.lageCheckAssetPath}}/assets/img/muncipality/CH_{{muncipalityId}}.gif" alt="">&nbsp;
                <h1 class="font-weight-light d-inline">{{municipalityname}}</h1>

            </div>
        </div>
        <div class="col col-lg-6 text-center">
            <div [hidden]="!macrofactor">
                    <app-gauge-chart 
                    [data]="macrofactor"
                    [extent]="municipalitygaugeextent"
                    [containerId]="municipalitygaugecontainerId"
                    [classification]="municipalitygaugeclassification"
                    [minMax]="municipalitygaugeminMax"
                    [minThreshold]="municipalitygaugeminThreshold"
                    [imgURL]="municipalitygaugeimgURL"
                    ></app-gauge-chart>
                    <h4 class="title-rating">{{macrofactortext}} <i class="fa fa-check-circle fa-1x text-success" aria-hidden="true"></i></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6">
            <div class="card">
                <a routerLink="furthercontent/navigation" [queryParams]="{id:'general'}" [class.disabled]="!global.addressSearch">
                    <div class="card-body text-center">
                        <h6 class="card-subtitle">
                            <img src="{{global.lageCheckAssetPath}}/assets/img/icons/generalinfo.svg" alt="general info">
                        </h6>
                        <p class="card-text">{{ 'GENERIC.GENERAL' | translate }}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col col-lg-6">
            <div class="card">
                <a routerLink="furthercontent/navigation"  [queryParams]="{id:'population'}"  [class.disabled]="!global.addressSearch">
                    <div class="card-body text-center">
                        <h6 class="card-subtitle">
                            <img src="{{global.lageCheckAssetPath}}/assets/img/icons/population.svg" alt="population">
                        </h6>
                        <p class="card-text">{{ 'GENERIC.POPULATION' | translate }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col col-lg-6">
            <div class="card">
                <a routerLink="/furthercontent/navigation"  [queryParams]="{id:'taxes'}" [class.disabled]="!global.addressSearch">
                    <div class="card-body text-center">

                        <h6 class="card-subtitle">
                            <img src="{{global.lageCheckAssetPath}}/assets/img/icons/tax.svg" alt="tax">
                        </h6>
                        <p class="card-text">{{ 'GENERIC.TAXES' | translate }}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col col-lg-6">
            <div class="card">
                <a routerLink="/furthercontent/navigation"  [queryParams]="{id:'housingmarket'}" [class.disabled]="!global.addressSearch">
                    <div class="card-body text-center">
                        <h6 class="card-subtitle">
                            <img src="{{global.lageCheckAssetPath}}/assets/img/icons/housing-market.svg" alt="housing market">
                        </h6>
                        <p class="card-text">{{ 'GENERIC.MARKET' | translate }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <hr class="hr-black">
    <div class="mb-4"></div>
    <div class="row">
        <div class="col col-lg-6">
            <h1>{{ 'GENERIC.ADDRESS' | translate }}</h1>
            <div [hidden]="!macrofactor" class="mt-3">
                    <img class="nomaxheight" src="{{global.lageCheckAssetPath}}/assets/img/map-marker.png" alt="location">&nbsp;<p class="font-weight-light d-inline">{{addressname}}</p>
                </div>
        </div>
        <div class="col col-lg-6 text-center">
            <div [hidden]="!addressfactor">
                    <app-gauge-chart 
                    [data]="addressfactor"
                    [extent]="addressgaugeextent"
                    [containerId]="addressgaugecontainerId"
                    [classification]="addressgaugeclassification"
                    [minMax]="addressgaugeminMax"
                    [minThreshold]="addressgaugeminThreshold"
                    [imgURL]="addressgaugeimgURL"
                    ></app-gauge-chart>
                    <h4 class="title-rating">{{addressfactortext}}&nbsp;<i class="fa fa-check-circle fa-1x text-success" aria-hidden="true"></i></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-6">
            <div class="card">
                <a routerLink="/furthercontent/navigation" [queryParams]="{id:'poi'}" [class.disabled]="!global.addressSearch">
                    <div class="card-body text-center">
                        <img src="{{global.lageCheckAssetPath}}/assets/img/icons/poi.svg" alt="poi">
                        <p class="card-text">{{ 'GENERIC.POI' | translate }}</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col col-lg-6">
            <div class="card">
                <a routerLink="/furthercontent/navigation" [queryParams]="{id:'noise'}" [class.disabled]="!global.addressSearch">
                    <div class="card-body text-center">
                        <img src="{{global.lageCheckAssetPath}}/assets/img/icons/noise.svg" alt="noise">
                        <p class="card-text">{{ 'GENERIC.NOISE' | translate }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
