@import '~sass/variables';

.full-height {
    height: calc(100vh);
    @media screen and (max-width: 768px) {
        height: 45vh;
    }
}

.main-info {
    box-shadow: 0.1px -0.3px 9.1px -2.3px black;
    z-index: 1;
    .scrollable-section {
        height: calc(100vh);
        overflow-y: auto;
        @media screen and (max-width: 768px) {
            height: 49vh;
        }
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters {
    >.row {
        @extend .no-gutters;
    }
}


.pac-logo:after {
        display: none !important;
}

#googlemap {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}