<ul class="d-flex justify-content-between list-unstyled">
    <li>
        <h6>{{ 'POPULATION.POPULATION' | translate }}</h6>
    </li>
    <li>
        <span class="p-number">170'184</span>
    </li>
</ul>
<app-linechart [data]="dataforlinearray"></app-linechart>
<hr>
<h6>{{ 'POPULATION.AGECATEGORY' | translate }}</h6>
<app-horizontalbarchart></app-horizontalbarchart>
<hr>
<ul class="d-flex justify-content-between list-unstyled">
    <li>
        <h6>{{ 'POPULATION.FOREIGNERQUOTA' | translate }}</h6>
    </li>
    <li>
        <span class="p-number">37%</span>
    </li>
</ul>
<ul class="d-flex justify-content-between list-unstyled">
    <li>
        <h6>{{ 'POPULATION.UNEMPLOYMENTRATE' | translate }}</h6>
    </li>
    <li>
        <span class="p-number">3.2%</span>
    </li>
</ul>
<ul class="d-flex justify-content-between list-unstyled">
    <li>
        <h6>{{ 'POPULATION.INCOMETAX' | translate }}</h6>
    </li>
    <li>
        <span class="p-number"><small>CHF</small> 37000</span>
    </li>

</ul>
<ul class="d-flex justify-content-between list-unstyled">
    <li>
        <h6>{{ 'POPULATION.POPULATIONGROWTH' | translate }}</h6>
    </li>
    <li>
        <span class="p-number">0.8</span>
    </li>

</ul>
<hr>
