
<div class="component-margin">
    <div class="row">
        <div class="col">
            <p class="text-muted">{{ 'POPULATION.POPULATION' | translate }}</p>
            <span class="g-number">{{populationrate | number}}</span>
        </div>
    </div>
    <hr class="hr-black">
    <ngb-accordion #acc="ngbAccordion" [destroyOnHide]="false" activeIds="ngb-panel-0" class="accordion-component" (panelChange)="toggleAccordionTab($event)">
        <ngb-panel id="panel-0">
            <ng-template ngbPanelTitle>
                <i class="fa fa-arrow-right" [ngClass]="accordionActive[0] ? 'fa-rotate-90' : ''" aria-hidden="true"></i>&nbsp;
                <h6 class="d-inline-block chart-header">{{ 'POPULATION.POPULATIONGROWTHHEADER' | translate }}</h6>
                <i class="fa fa-info-circle fa-2x pull-right" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-linechart [containerId]="linecontainer" [data]="dataforlinearray" [xText]="xLabel" [yText]="yLabel" [yDataFormat]="yPopulationDataFormat"></app-linechart>
            </ng-template>
        </ngb-panel>
        <ngb-panel id="panel-1">
            <ng-template ngbPanelTitle>
                <i class="fa fa-arrow-right" [ngClass]="accordionActive[1] ? 'fa-rotate-90' : ''" aria-hidden="true"></i>&nbsp;
                <h6 class="d-inline-block chart-header">{{ 'POPULATION.AGECATEGORY' | translate }}</h6>
                <i class="fa fa-info-circle fa-2x pull-right" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbPanelContent>
                    <app-barchart [containerId]="barcontainer" [data]="dataforbararray" [xText]="xAgeData" [yText]="yAgeData" 
                    [xAxisText]="xAxisAgeText" [yAxisText]="yAxisAgeText"   [xDataFormat]="xAgeDataFormat" [yDataFormat]="yAgeDataFormat"></app-barchart>  
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <br>
    <h6 class="d-inline-block  chart-header">{{ 'POPULATION.KEYFIGURES' | translate }}</h6><i class="fa fa-info-circle fa-2x pull-right" aria-hidden="true"></i>
    <hr class="hr-black">
    <div class="row">
        <div class="col col-lg-6">
            <p class="text-muted">{{ 'POPULATION.FOREIGNERQUOTA' | translate }}</p>
            <span class="g-number">{{foreignerquota | percent:'.1-1'}}</span>
        </div>
        <div class="col col-lg-6">
            <p class="text-muted">{{ 'POPULATION.UNEMPLOYMENTRATE' | translate }}</p>
            <span class="g-number">{{unemploymentrate | percent:'.1-1'}} </span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col col-lg-6">
            <p class="text-muted">{{ 'POPULATION.INCOMETAX' | translate }}</p>
            <span class="g-number">CHF {{incometaxperson| number:'.0-0' }}</span>
        </div>
        <div class="col col-lg-6">
            <p class="text-muted">{{ 'POPULATION.POPULATIONGROWTH' | translate }}</p>
            <span class="g-number">{{populationgrowth | percent:'.1-1'}}</span>
        </div>
    </div>
</div>
