<!-- <app-iaziheader></app-iaziheader> -->
<div class="row no-gutters" style="position:absolute;height:100%;width:100%;">
  <div class="col-sm-12 col-md-5 main-info" style="position:absolute;height:100%;">
    <div class="row no-gutters">
      <div class="col">
        <ngb-progressbar height="2px" [value]="progressbarValue"></ngb-progressbar>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col">
        <router-outlet name="index"></router-outlet>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-7" style="position:absolute;height:100%;left:41.8%">
    <app-search></app-search>
    <app-geolocation></app-geolocation>
    <app-maplegend></app-maplegend>
    <div id="googlemap">
    </div>
  </div>
</div>