
li {
    padding: 0 1rem;
}
a{
    color: #2d2d2d;
    background: white;
    // background: #2d2d2d;
    // color: white;
    width: 50%;
}
.active {
    background: #2d2d2d;
    color: white;
    // color: #2d2d2d;
    // background: white;
}
nav {
    background: #2d2d2d;
}

