@import '~sass/variables';

.navigation {

    .navigation-header-outer-div{
        background-color:$ternary-color;
        height:50px;
        color:$hexa-color;
        position:relative
    }

    .navigation-header-inner-div{
        position:absolute;
        width: 100%;
        vertical-align:middle;
        margin-left:20px;
        margin-top:10px;
    }

    .navigation-header-text{
        margin-left:10px;
        font-size:x-large;
        vertical-align:middle;
        font-family: $font-family-secondary;
    }

    .back-button {
        background:none;
    }

}