<div class="navigation">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 navigation-header-outer-div">
      <div class="navigation-header-inner-div">
        <a class="back-button" [routerLink]="['/index', {outlets: {'index': ['teaser']}}]"  [queryParams]="{id:'navigation'}"><img src="{{global.lageCheckAssetPath}}/assets/img/back.png"/></a>
        <span class="navigation-header-text">{{header}}</span>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">   
        <app-general *ngIf="generalFlag"></app-general>
        <app-population *ngIf="populationFlag"></app-population>
        <app-taxes *ngIf="taxesFlag"></app-taxes>
        <app-housingmarket *ngIf="housingMarketFlag"></app-housingmarket>
        <app-poi *ngIf="poiFlag"></app-poi>
        <app-noise *ngIf="noiseFlag"></app-noise>
      </div>
  </div>
</div>